<div *ngIf="!error">
  <div class="row pt-6">

    <app-documents-toolbar class="col-12 p-0"
                           *ngIf="checked != null && checked.length > 0"
                           [checkedNodes]="checked"
                           (onShowDocumentCard)="onShowDocumentCard($event)">
    </app-documents-toolbar>


    <div #documentsView class="col-12 p-0">
      <app-breadcrumbs [parent]="currentItem"
                       (onSelected)="onItemSelected($event)">
      </app-breadcrumbs>
      <app-document-list [parent]="currentItem"
                         (onSelected)="onItemSelected($event)"
                         (onChecked)="onItemsChecked($event)"
                         (onLoaded)="onListLoaded($event)"
                         (onError)="onError($event)">
      </app-document-list>
    </div>

  </div>
</div>

<app-error *ngIf="error" [response]="error"></app-error>

<pw-modal id="documentCardModal">
  <div class="bg-white rounded-lg p-3 document-card-view">
    <span class="material-icons pointer btn float-right" 
          (click)="onCloseDocumentCard()">clear</span>
    <app-document-card class="" *ngIf="getCheckedNode()"
                      [document]="getCheckedNode().source" >
    </app-document-card>
  </div>
</pw-modal>