
.document-card-view {
  min-height: 94vh;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  /*margin-bottom: auto; */
}

@media screen and (max-width: 600px) {
  .document-card-view{
    min-height: 100vh;
    margin-top: 0px;
    border-radius: 0px!important;
  }
}