.list-group-item-primary {
  background-color: #f4f4f4;
  color: #495057;
}
  .list-group-item-primary:hover {
    background-color: #eaeaea;
  }


.btn {
  color: var(--gray);
  font-size: 20px;
  padding-right: 0;
}

.btn:hover {
  color: var(--dark);
}
