<!-- <div class="d-flex justify-content-between mt-3">
  <p class="lead" translate="versions"></p>
  <span class="material-icons pointer btn" (click)="close()">clear</span>
</div> -->

<ul class="list-group list-group-flush mb-5">
  <li class="list-group-item list-group-item-action pointer p-2" *ngFor="let version of versions"
      [class.list-group-item-primary]="version.isSelected">

    <div class=""
        (click)="selected(version);">
      <span class="" style="font-size: .8rem;">{{version.created}} {{version.creator}}</span>
    </div>

  </li>
</ul>
