/.vs/*
/documentRender/bin/*
/documentRender/obj/*
/Serializer/obj/*
/Pilot.Web.Tests/bin/*
/Pilot.Web.Tests/obj/*
/Pilot.Xps.Connection/bin/*
/Pilot.Xps.Connection/obj/*
/Pilot.Xps.Entities/bin/*
/Pilot.Xps.Entities/obj/*
