<div class="d-flex flex-column h-100">
  <div class="d-flex justify-content-center mt-5" *ngIf="isSignaturesLoading">
    <div class="spinner-border text-secondary" role="status">
      <span class="sr-only" translate="loading"></span>
    </div>
  </div>    
  <div class="content-center" *ngIf="signatures && signatures.length == 0">
    <h4 class="font-weight-light mt-3" translate="noItemsToDisplay"></h4>
  </div>
  <ul class="list-group list-group-flush mb-auto h-100 overflow-auto">
    <li class="list-group-item list-group-item-action pointer p-2" *ngFor="let signature of signatures" (click)="checkSignature(signature)">
      <div class="d-flex flex-row">
        <input class="mt-3" type="checkbox"
              [checked]="signature.isChecked" 
              [disabled]="!signature.canUserSign"
              *ngIf="signature.canUserSign && !signature.isSigned && canUserSign()" >
        <span class="mr-3" *ngIf="!signature.canUserSign || signature.isSigned || !canUserSign()"></span>
        <span *ngIf="signature.isValid && signature.isCertificateValid" class="material-icons m-2" style="color:green">check_circle</span>
        <span *ngIf="!signature.isValid && !signature.signDate" class="material-icons m-2" style="color:gray">edit</span>
        <span *ngIf="signature.isValid && !signature.isCertificateValid" class="material-icons m-2" style="color:green">warning</span>
        <span *ngIf="!signature.isValid && !signature.isCertificateValid && signature.signDate" class="material-icons m-2" style="color: #c0392b">error</span>
        <div style="min-width: 0">
          <div class="text-truncate">{{signature.person}}</div>
          <div *ngIf="!signature.signDate">
            <span class="font-small text-secondary" translate="noSignature"></span>
            <span *ngIf="signature.role" class="font-small text-secondary ml-1">"{{signature.role}}"</span>
          </div>
          <div *ngIf="signature.signDate">
            <span *ngIf="!signature.role" class="font-small text-secondary" translate="signed"></span>
            <span *ngIf="signature.role" class="font-small text-secondary">{{signature.role}}</span>
            <span class="font-small text-secondary ml-1">{{signature.signDate}}</span>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <div class="d-flex justify-content-center" *ngIf="showSignButton">
    <button class="btn btn-primary btn-block m-4" 
            [disabled] = "!canUserSign()"
            style="width: 10rem;" 
            type="button" 
            (click)="sign()">
        <span class="mr-1" translate="sign"> </span>
        <span *ngIf="isSigningInProcess" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"> </span>
    </button>
  </div>
</div>