
.btn-primary {
  color: #fff;
  background-color: var(--primary);
  border-color: var(--primary-dark);
}

.btn-primary:hover {
  color: #fff;
  background: var(--primary-dark);
  border-color: var(--primary-dark);
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 160, 0, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background: var(--primary-dark);
  border-color: var(--primary-dark);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background: var(--primary-dark);
  border-color: var(--primary-dark);
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
   box-shadow: 0 0 0 0.2rem rgba(255, 160, 0, 0.5);
}
