:root {
  --dark: #212636;
  --gray: #8d8d8d;
  --bg-content: #f5f6fc;
  --second: #9e9e9e;
  --primary: #ffa000;
  --primary-dark: #EC971F;
  --primary-light: #EED485;
}

.bg-accent {
  background-color: var(--primary);
}
