/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
  background-color: var(--bg-content);
}

.content-center {
  position: fixed;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  text-align: center;
}

.bg-toolbar {
  background-color: var(--white);
}

.bg-content {
  background-color: var(--bg-content);
}

.bg-dark {
  background-color: var(--dark);
}

.text-second {
  color: var(--second);
}

.text-gray {
  color: var(--gray);
}

.container-fluid {
  height: 100%;
}

.container-xl {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}
.w-45 {
  width: 45% !important;
}

@media (max-width: 800px) {
  .hidden-phone {
    display: none;
  }
}

.error-image {
  width: 100px;
  height: 100px;
}

.pointer {
  cursor: pointer
}

.pt-6 {
  padding-top: 4rem;
}

.pt-2h {
  padding-top: .4rem;
}

.opacity-02 {
  opacity: 0.2;
}

.tb-btn {
  color: var(--gray);
  font-size: 20px;
  padding-right: 0;
}

.tb-btn:hover {
  color: var(--dark);
}

@font-face {
  font-family: 'Material Icons Outline';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/material_outline.woff2) format('woff2');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/fonts/material.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons-outline {
  font-family: 'Material Icons Outline';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  /*-khtml-user-select: none;  Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
  touch-action: none;
}

/*loader*/
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
}

.loading-bar {
  display: inline-block;
  width: 6px;
  height: 25px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}

  .loading-bar:nth-child(1) {
    background-color: #3498db;
    animation-delay: 0;
  }

  .loading-bar:nth-child(2) {
    background-color: #c0392b;
    animation-delay: 0.09s;
  }

  .loading-bar:nth-child(3) {
    background-color: #f1c40f;
    animation-delay: .18s;
  }

  .loading-bar:nth-child(4) {
    background-color: #27ae60;
    animation-delay: .27s;
  }

@keyframes loading {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1, 2.2);
  }

  40% {
    transform: scale(1);
  }
}
