<nav class="navbar navbar-expand justify-content-between pl-2 pr-2 pt-0 pb-0">
  <!--<div class="navbar-expand">-->
  <ul class="navbar-nav mt-1">
    <li class="nav-item nav-item-button">
      <div class="nav-link" (click)="close($event)">
        <i class="material-icons text-white font-weight-light">arrow_back</i>
      </div>
    </li>
    <li class="nav-item">
      <img [src]="icon" style="height: 24px"/>
      <span class="navbar-text text-white font-weight-light">
        {{title}}
      </span>
    </li>
  </ul>
  
  <ul class="navbar-nav mt-1">
    <li class="nav-item nav-item-button">
      <div class="nav-link" (click)="download($event)">
        <i class="material-icons text-white font-weight-light">file_download</i>
      </div>
    </li>
    <!--<li class="nav-item">
      <span class="navbar-text text-white font-weight-light">
        Navbar text with an inline element
      </span>
    </li>-->
  </ul>
  <!--</div>-->
</nav>
