<nav class="navbar navbar-expand fixed-top navbar-light bg-content justify-content-between">
  <ul class="navbar-nav">
    <li click-stop-propagation click-prevent-default class="nav-item nav-item-button" (click)="download($event)">
      <span class="navbar-text toolbar-text material-icons nav-icon">file_download</span>
      <span class="navbar-text toolbar-text hidden-phone noselect" translate="download"></span>
    </li>
    <li click-stop-propagation click-prevent-default class="nav-item nav-item-button" (click)="showVersions($event)"
        [class.checked]="isVersionsChecked">
      <span class="navbar-text toolbar-text material-icons nav-icon">query_builder</span>
      <span class="navbar-text toolbar-text hidden-phone noselect" translate="versions"></span>
    </li>
    <li click-stop-propagation click-prevent-default 
        class="nav-item nav-item-button" (click)="openDocumentCard()">
      <span class="navbar-text toolbar-text nav-icon material-icons">insert_drive_file</span>
      <span class="navbar-text toolbar-text hidden-phone noselect" translate="card"></span>
    </li>
  </ul>

  <ul class="navbar-nav noselect">
    <li class="nav-item">
      <span class="navbar-text toolbar-text">
        {{title}}
      </span>
    </li>
  </ul>

  <ul class="navbar-nav noselect">
    <li click-stop-propagation click-prevent-default class="nav-item nav-item-button" (click)="previous($event)">
      <span class="navbar-text toolbar-text material-icons nav-icon">chevron_left</span>
      <span class="navbar-text toolbar-text hidden-phone noselect" translate="back"></span>
    </li>
    <li click-stop-propagation click-prevent-default class="nav-item nav-item-button" (click)="next($event)">
      <span class="navbar-text toolbar-text hidden-phone noselect" translate="forward"></span>
      <span class="navbar-text toolbar-text material-icons nav-icon">chevron_right</span>
    </li>
    <li click-stop-propagation click-prevent-default class="nav-item nav-item-button noselect" (click)="close($event)">
      <span class="navbar-text toolbar-text material-icons nav-icon">close</span>
    </li>
  </ul>
</nav>
