
.list-group-item {
  line-height: 1.1;
  padding-left: .7rem;
  padding-right: .7rem;
  /*border: 0;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;*/
}

.card-img-center {
  max-height: 100%;
}

.card-img {
  min-height: 8rem;
}

.card-icon-center {
  height: 80%;
  margin-top: 10px;
}

.card-name {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 2.8em;
  line-height: 1.3;
}

.card {
  height: 13rem;
  overflow: hidden;
  /*border: 0;*/
}

.card-body {
  padding: 0.5rem;
}

.card-children-count {
  position: absolute;
  top: 0.1rem;
  right: 0.5rem;
  font-size: 80%
}

.card-checker {
  top: 0;
  position: absolute;
  margin-left: .25rem;
  cursor: pointer;
}

.item-button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
}

  .item-button:hover {
    background: #eaeaea;
  }

@media (max-width: 767px) {
  .middle-phone-text {
    margin-top: 7px;
  }
}

.checker-img {
  opacity: 0.2;
}

.checker {
  font-size: 24px;
}

.checker-container {
  position: absolute;
  top: -0.01rem;
  left: -0.01rem;
  padding: 0.93rem;
}
