
.card-img-center {
  width: 100%;
}

.card-icon-center {
  height: 10rem;
  margin-top: 10px;
}

.card-name {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3.2em;
}

.card {
  height: 15rem;
  overflow: hidden;
}

.card-body {
  padding: 0.85rem;
}

.card-children-count {
  position: absolute;
  top: 0.1rem;
  right: 0.5rem;
  font-size: 80%
}

.item-button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  text-align: center;
}

  .item-button:hover {
    background: #eaeaea;
  }

@media (max-width: 767px) {
  .middle-phone-text {
    margin-top: 7px;
  }
}
