<div class="d-flex content-center" *ngIf="isLoading">
  <div class="spinner-border text-secondary" role="status">
    <span class="sr-only" translate="loading"></span>
  </div>
</div>

<div class="pb-2" #contentDiv>
  <ng-container *ngIf="nodeStyle === 0">
    <ng-container *ngTemplateOutlet="listViewNodeTemplate"></ng-container>
  </ng-container>

  <ng-container *ngIf="nodeStyle === 1">
    <ng-container *ngTemplateOutlet="gridViewNodeTemplate"></ng-container>
  </ng-container>
</div>

<div class="content-center" *ngIf="nodes && nodes.length === 0">
  <img src="/assets/images/empty-folder.svg" class="error-image" />
  <h4 class="font-weight-light mt-3" translate="folderIsEmpty"></h4>
</div>

<ng-template #listViewNodeTemplate>
  <ul class="list-group mr-3 ml-3 shadow-sm" *ngIf="!isLoading && nodes">
    <li class="list-group-item list-group-item-action"
        [class.list-group-item-primary]="node.isChecked"
        (click)="check(node, $event)"
        *ngFor="let node of nodes">

      <div class="d-flex">

        <div class="mr-2"
             [class.opacity-02]="isAnyItemChecked">
          <img [src]="node.icon" width="36" *ngIf="node.icon" alt="type icon">
        </div>

        <div class="mr-2 pointer checker-container"
             *ngIf="isAnyItemChecked"
             (click)="addChecked(node); $event.stopPropagation();">
          <span class="material-icons mt-1 checker" style="color: transparent" *ngIf="!node.isChecked">radio_button_unchecked</span>
          <span class="material-icons mt-1 text-primary checker" *ngIf="node.isChecked">check_circle</span>
        </div>

        <div class="mr-auto">
          <div class="pointer three-line-text overflow-hidden"
               (click)="select(node);$event.stopPropagation();"
               *ngIf="node">
            <div [class.text-primary]="node?.isChecked">{{ node.title }}</div>
            <small class="text-muted" *ngIf="node.type">{{node.type.title}}</small>
            <div><app-user-state [object]="node.source"></app-user-state></div>
          </div>
        </div>

        <small *ngIf="node.childrenCount >= 0">{{node?.childrenCount}}</small>
      </div>
    </li>
  </ul>
</ng-template>

<ng-template #gridViewNodeTemplate>
  <div class="row m-0">
    <div *ngFor="let node of nodes"
         class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 p-2">

      <div class="card text-center shadow-sm"
           [class.list-group-item-primary]="node.isChecked"
           (click)="check(node, $event);$event.stopPropagation();"
           *ngIf="!isEmptyNode(node) else gridViewEmptyNodeTemplate">
        <div class="overflow-hidden bg-white card-img" *ngIf="!node.preview">
          <img [src]="node.icon" class="card-icon-center" alt="type icon image" *ngIf="node.icon">
        </div>

        <div class="overflow-hidden bg-white card-img" *ngIf="node.preview">
          <img [src]="node.preview" class="card-img-center vcenter" alt="preview">
        </div>

        <div class="card-checker" *ngIf="isAnyItemChecked" (click)="addChecked(node); $event.stopPropagation();">
          <span class="material-icons mt-1 text-muted" *ngIf="!node.isChecked">radio_button_unchecked</span>
          <span class="material-icons mt-1 text-primary" *ngIf="node.isChecked">check_circle</span>
        </div>

        <div class="card-children-count text-muted" *ngIf="node.childrenCount >= 0">{{node.childrenCount}}</div>

        <div class="card-body" 
             (click)="select(node);$event.stopPropagation();"
             *ngIf="node">
          <div class="text-center pointer">
            <div class="card-name"
                 [class.text-primary]="node.isChecked" >{{node.title}}</div>
            <small class="text-muted" *ngIf="node.type && !isStatesExists(node)">{{node.type.title}}</small>
            <div>
              <app-user-state [object]="node.source"></app-user-state>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</ng-template>

<ng-template #gridViewEmptyNodeTemplate>
  <div class="card shadow-sm"></div>
</ng-template>
