<div class="d-flex content-center" *ngIf="isLoading">
  <div class="spinner-border text-secondary" role="status">
    <span class="sr-only" translate="loading"></span>
  </div>
</div>

<div *ngIf="nodeStyle === 0; else gridViewNodeTemplate">
  <div class="list-group list-group-flush" *ngIf="!isLoading && nodes">
    <div *ngFor="let node of nodes">

      <div class="list-group-item list-group-item-action"
           [class.list-group-item-primary]="node.isChecked"
           (click)="checked(node, $event);$event.stopPropagation();">

        <div class="d-flex">

          <div class="mt-1 mr-2">
            <img id="image" [src]="node.icon" width="36" *ngIf="node.icon != null">
          </div>

          <div class="mr-auto">

            <div (click)="selected(node);$event.stopPropagation();">
              <h6 class="mb-1 pointer">{{ node.title }}</h6>
              <div class="mb-0 pointer">{{node.created}} {{node.creator.displayName}}</div>
            </div>

          </div>

          <small *ngIf="!node.isDocument">{{node.children.length}}</small>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="content-center" *ngIf="nodes && nodes.length === 0">
  <img src="/assets/images/empty-folder.svg" class="error-image" />
  <h4 class="font-weight-light mt-3" translate="folderIsEmpty"></h4>
</div>


<ng-template #gridViewNodeTemplate>
  <div class="row m-0">
    <div *ngFor="let node of nodes"
         class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 p-2">

      <div class="card text-center"
           [class.list-group-item-primary]="node.isChecked"
           (click)="checked(node, $event);$event.stopPropagation();">
        <div class="" *ngIf="!node.preview">
          <img id="icon" [src]="node.icon" class="card-icon-center" alt="<no image>">
        </div>

        <div class="overflow-hidden" *ngIf="node.preview">
          <img id="image" [src]="node.preview" class="card-img-center" alt="<no image>">
        </div>
        <div class="card-children-count text-muted" *ngIf="!node.isDocument">{{node.children.length}}</div>
        <div class="card-body" (click)="selected(node);$event.stopPropagation();">
          <div class="text-center pointer">
            <h6 class="mb-0">{{ node.title }}</h6>
            <small class="">{{node.created}}</small>
          </div>
        </div>
      </div>

    </div>
  </div>
</ng-template>
