<div class="d-flex content-center" *ngIf="isLoading">
  <div class="spinner-border text-secondary" role="status">
    <span class="sr-only" translate="loading"></span>
  </div>
</div>

<div class="pb-5" *ngIf="nodeStyle === 0; else gridViewNodeTemplate">
  <ul class="list-group mr-3 ml-3 shadow-sm" *ngIf="!isLoading && nodes">
    <li class="list-group-item list-group-item-action"
        [class.list-group-item-primary]="node.isChecked"
        (click)="checked(node, $event)"
        *ngFor="let node of nodes">

      <div class="d-flex">

        <div class="mr-2"
             [class.checker-img]="isAnyItemChecked">
          <img [src]="node.icon" width="36" *ngIf="node.icon != null" alt="type icon">
        </div>

        <div class="mr-2 pointer checker-container"
             *ngIf="isAnyItemChecked"
             (click)="addChecked(node); $event.stopPropagation();">
          <span class="material-icons mt-1 checker" style="color: transparent" *ngIf="!node.isChecked">radio_button_unchecked</span>
          <span class="material-icons mt-1 text-primary checker" *ngIf="node.isChecked">check_circle</span>
        </div>

        <div class="mr-auto">
          <div class="pointer two-line-text overflow-hidden"
               (click)="selected(node);$event.stopPropagation();">
            <div class=""
                 [class.text-primary]="node?.isChecked">{{ node?.title }}</div>
            <small class="hidden-phone text-muted">{{node?.type.title}}</small>
          </div>
        </div>

        <small *ngIf="!node.isDocument">{{node?.children.length}}</small>
      </div>
    </li>
  </ul>
</div>

<div class="content-center" *ngIf="nodes && nodes.length === 0">
  <img src="/assets/images/empty-folder.svg" class="error-image" />
  <h4 class="font-weight-light mt-3" translate="folderIsEmpty"></h4>
</div>


<ng-template #gridViewNodeTemplate>
  <div class="row m-0 pb-5">
    <div *ngFor="let node of nodes"
         class="col-6 col-sm-4 col-md-4 col-lg-3 col-xl-2 p-2">

      <div class="card text-center shadow-sm"
           [class.list-group-item-primary]="node.isChecked"
           (click)="checked(node, $event);$event.stopPropagation();">
        <div class="overflow-hidden bg-white card-img" *ngIf="!node.preview">
          <img [src]="node.icon" class="card-icon-center" alt="type icon image">
        </div>

        <div class="overflow-hidden bg-white card-img" *ngIf="node.preview">
          <img [src]="node.preview" class="card-img-center vcenter" alt="preview">
        </div>

        <div class="card-checker" *ngIf="isAnyItemChecked" (click)="addChecked(node); $event.stopPropagation();">
          <span class="material-icons mt-1 text-muted" *ngIf="!node.isChecked">radio_button_unchecked</span>
          <span class="material-icons mt-1 text-primary" *ngIf="node.isChecked">check_circle</span>
        </div>

        <div class="card-children-count text-muted" *ngIf="!node.isDocument">{{node.children.length}}</div>

        <div class="card-body" (click)="selected(node);$event.stopPropagation();">
          <div class="text-center pointer">
            <div class="card-name"
                 [class.text-primary]="node.isChecked">{{ node.title }}</div>
            <small class="text-muted">{{node.type.title}}</small>
          </div>
        </div>
      </div>

    </div>
  </div>
</ng-template>
