<app-document-toolbar [document]="document"
                      (documentClosed)="close($event)"
                      (documentDownloaded)="download($event)"
                      (moreShown)="onShowMore($event)"
                      (documentCardOpened)="onShowDocumentCard(cardTemplate)"
                      (filesShown)="showFiles($event)">
</app-document-toolbar>

<div class="pt-6" *ngIf="!error">
  <div class="row m-0">
    <div class="col-12 p-0 viewer-container"
        [class.col-lg-12]="isSourceFile()"
        [class.col-lg-8]="!isSourceFile()">

      <div class="text-center" *ngIf="!isActualVersionSelected">
        <div class="alert alert-warning" role="alert">
          <span translate="outdatedVersionFrom"></span> {{selectedVersionCreated}}
          <a href="#" (click)="selectActualVersion()"><span translate="goToCurrentVersion"></span></a>
        </div>
      </div>

      <app-document-viewer [snapshot]="selectedSnapshot"
                            (downloaded)="download($event)">
      </app-document-viewer>
    </div>

    <div class="versions-view col-12 doc-info overflow-auto p-0 pt-2 d-none d-lg-block"
        [class.col-lg-12]="isSourceFile()"
        [class.col-lg-4]="!isSourceFile()"
        *ngIf="document && !isSourceFile()">
      <div class="h-100">
        <tabset #staticTabs >
          <tab heading="{{ 'signatures' | translate }}" customClass="h-100">
            <app-digital-signatures 
              [document]="document" 
              (error)="onError($event)">
            </app-digital-signatures>
          </tab>
          <tab heading="{{ 'remarks' | translate }}" customClass="h-100">
            <app-remark-list 
              [document]="document" 
              (error)="onError($event)">
            </app-remark-list>
          </tab>
          <tab heading="{{ 'versions' | translate }}">
            <app-document-versions
                [document]="document"
                (onClose)="closeDocumentVersions($event)"
                (versionSelected)="onVersionSelected($event)">
              </app-document-versions>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>

<app-error *ngIf="error" [response]="error"></app-error>

<ng-template #cardTemplate>
  <div class="modal-body">
    <app-object-card-dialog [object]="document"
                          (onClose)="onCloseDocumentCard($event)"
                          (onSave)="onChangeDocumentCard($event)">
    </app-object-card-dialog>
  </div>
</ng-template>

<app-bottom-sheet [options]="options" #bottomSheet>
  <app-context-menu #contextMenu>

  </app-context-menu>
</app-bottom-sheet>

<ng-template #textRemark let-item="remark" >
  <div >
    <div>{{item.text}}</div>
  </div>
</ng-template>
