img.doc-page {
  border: 1px solid lightgray;
  margin-bottom: 8px;
  margin-top: 8px;
  max-width: 100%;
}

.document-view {
  height: calc(100vh - 42px);
  margin-top: 42px;
}

.vertical-center {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
}

.doc-info {
  background: white;
  border-left: 1px solid rgb(222, 226, 230);
  height: calc(100vh - 42px);
}

.pages {
  height: calc(100vh - 42px);
}
  .pages.info-open {
    height: calc(100vh - 42px);
  }

.h-calc {
  height: calc(100vh - 42px);
}

@media (max-width: 767px) {
  .pages {
    height: calc(100vh - 42px);
  }

  .pages.info-open {
    height: calc(70vh - 42px);
  }

  .doc-info {
    height: 30vh;
    border-top: 1px solid rgb(222, 226, 230);
  }
}
