<div class="h-calc">
  <div class="row position-fixed">
    <!--<app-toolbar class="col-12 p-0"
                     [rightToolbarItems]="rightToolbarItems"
                     [leftToolbarItems]="leftToolbarItems"></app-toolbar>-->
    <span class="close" (click)="close()">&times;</span>
  </div>

  <div class="text-center" *ngIf="images">
    <div *ngFor="let page of images">
      <img [src]="page" class="doc-page">
    </div>
  </div>

  <div class="content-center op" *ngIf="!images">
    <img src="/assets/images/doc_empty.svg" class="error-image" />
    <h5 class="font-weight-normal mt-2">{{fileName}}</h5>
    <p class="mt-3" translate="cantPreviewDocument"></p>
    <button type="submit" class="btn btn-primary" (click)="download()" *ngIf="!isDownloading" translate="download"></button>
    <button class="btn btn-primary" type="button" disabled *ngIf="isDownloading">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span class="ml-1" translate="downloading"></span>
    </button>
  </div>
</div>
