<app-document-toolbar [document]="document"
                      (onDocumentClosed)="close($event)"
                      (onDownload)="download($event)"
                      (onPreviousDocument)="previousDocument($event)"
                      (onNextDocument)="nextDocument($event)"
                      (onShowVersions)="toggleDocumentVersions($event)"
                      (onShowDocumentCard)="onShowDocumentCard($event)">
</app-document-toolbar>

<div class="pt-6" *ngIf="!error">
  <div class="row m-0">
    <div class="col-12 p-0 pb-5"
         [class.col-md-8]="isInfoShown"
         [class.info-open]="isInfoShown">

      <div class="text-center" *ngIf="!isActualVersionSelected">
        <div class="alert alert-warning" role="alert">
          <span translate="outdatedVersionFrom"></span> {{selectedVersionCreated}}
          <a href="#" (click)="selectActualVersion()"><span translate="goToCurrentVersion"></span></a>
        </div>
      </div>

      <div *ngIf="document">
        <span>{{document.title}}</span>
        <div>
          <app-user-state [object]="document"></app-user-state>
        </div>
      </div>

      <div class="text-center mt-3" *ngIf="images">
        <div *ngFor="let page of images">
          <img [src]="page" class="doc-page">
        </div>
      </div>

      <div class="content-center" *ngIf="!images">
        <img src="/assets/images/doc_empty.svg" class="error-image"/>
        <h5 class="font-weight-normal mt-2">{{fileName}}</h5>
        <p class="mt-3" translate="cantPreviewDocument"></p>
        <button type="submit" class="btn btn-primary" (click)="download()" *ngIf="!isDownloading" translate="download"></button>
        <button class="btn btn-primary" type="button" disabled *ngIf="isDownloading">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span class="ml-1" translate="downloading"></span>
        </button>
      </div>

      <div class="content-center" *ngIf="isLoading">
        <div class="spinner-border text-secondary" role="status">
          <span class="sr-only"></span>
        </div>
      </div>
    </div>

    <div class="versions-view col-12 col-md-4 doc-info overflow-auto p-0" *ngIf="isInfoShown">
      <div class="h-100">
        <tabset #staticTabs>
          <tab heading="Signatures">
            <app-digital-signatures [document]="document"></app-digital-signatures>
          </tab>
          <tab heading="Versions">
            <div class="">
              <app-document-versions
                [document]="document"
                (onClose)="closeDocumentVersions($event)">
              </app-document-versions>
            </div>
          </tab>
        </tabset>
      </div>
    </div>
  </div>

</div>

<app-error *ngIf="error" [response]="error"></app-error>

<pw-modal id="documentCardModal">
  <app-object-card-dialog [object]="document"
                          (onClose)="onCloseDocumentCard($event)"
                          (onSave)="onChangeDocumentCard($event)">
  </app-object-card-dialog>
</pw-modal>
