<nav class="navbar navbar-expand navbar-light bg-toolbar border-bottom toolbar justify-content-between">
  <ul class="navbar-nav">
    <li class="nav-item nav-item-button" (click)="download()" *ngIf="isNodeChecked()">
      <span class="navbar-text toolbar-text nav-icon material-icons">file_download</span>
      <span class="navbar-text toolbar-text hidden-phone" translate="download"></span>
    </li>
    <li class="nav-item nav-item-button" (click)="downloadArchive()" *ngIf="isNodeChecked()">
      <span class="navbar-text toolbar-text nav-icon material-icons">archive</span>
      <span class="navbar-text toolbar-text hidden-phone" translate="downloadZip"></span>
    </li>

  </ul>

  <ul class="navbar-nav">
    <li class="nav-item nav-item-button" (click)="changeStyle(0)" *ngIf="nodeStyle === 1">
      <span class="navbar-text toolbar-text material-icons nav-icon">view_list</span>
    </li>
    <li class="nav-item nav-item-button" (click)="changeStyle(1)" *ngIf="nodeStyle === 0">
      <span class="navbar-text toolbar-text material-icons nav-icon">view_module</span>
    </li>
  </ul>
</nav>
