<div class="mt-2 mb-4">
    <img [src]="typeIcon" width="24" *ngIf="typeIcon != null">
    <span class="ml-2 align-middle">{{typeTitle}}</span>
</div>
<form>
    <div class="mt-2" *ngFor="let attr of attributes">
        <ng-container *ngIf="attr.type === 0">
            <div *ngTemplateOutlet="intAttributeTemplate;context:{attr:attr}"></div>
        </ng-container>
        <ng-container *ngIf="attr.type === 1">
            <div *ngTemplateOutlet="doubleAttributeTemplate;context:{attr:attr}"></div>
        </ng-container>
        <ng-container *ngIf="attr.type === 2">
            <div *ngTemplateOutlet="readonlyAttributeTemplate;context:{attr:attr}"></div>
        </ng-container>
        <ng-container *ngIf="attr.type === 3">
            <div *ngTemplateOutlet="stringAttributeTemplate;context:{attr:attr}"></div>
        </ng-container>
        <ng-container *ngIf="attr.type === 4">
            <div *ngTemplateOutlet="readonlyAttributeTemplate;context:{attr:attr}"></div>
        </ng-container>
        <ng-container *ngIf="attr.type === 5">
            <div *ngTemplateOutlet="readonlyAttributeTemplate;context:{attr:attr}"></div>
        </ng-container>
        <ng-container *ngIf="attr.type === 6">
            <div *ngTemplateOutlet="readonlyAttributeTemplate;context:{attr:attr}"></div>
        </ng-container>
        <ng-container *ngIf="attr.type === 7">
            <div *ngTemplateOutlet="stateAttributeTemplate;context:{attr:attr}"></div>
        </ng-container>
        <ng-container *ngIf="attr.type === 8">
            <div *ngTemplateOutlet="orgUnitAttributeTemplate;context:{item:attr}"></div>
        </ng-container>
    </div>
</form>

<ng-template #orgUnitAttributeTemplate let-item="item">
  <div class="f-md text-second mt-2">{{item.title}}</div>
  <div *ngFor="let orgUnit of item.items | keyvalue">
    <div class="f-lg">
      <span *ngIf="orgUnit.key" class="mr-1">{{orgUnit.key.displayName}}</span>
      <span class="text-secondary">({{orgUnit.value.title}})</span>
    </div>
  </div>
</ng-template>

<ng-template #stringAttributeTemplate let-item="attr">
    <div class="form-group mt-2">
        <label for="{{item.name}}">{{item.title}}</label>
        <textarea class="form-control" 
                  [readonly]="isReadonly"
                  id="{{item.name}}" 
                  rows="{{item.displayHeight}}"
                  value="{{item.value}}"
                  (change)="onChange(item.name, $event.target.value)">
        </textarea>
    </div>
</ng-template>

<ng-template #stateAttributeTemplate let-item="attr">
    <div class="form-group mt-2">
        <label for="{{item.name}}">{{item.title}}</label>
        <select class="form-control" 
                [disabled]="isReadonly"
                id="{{item.name}}" 
                (change)="onChange(item.name, $event.target.value)">
            <option *ngFor="let opt of item.options" 
                    [value]="opt.id" >
                {{opt.title}}
            </option>
        </select>
    </div>
</ng-template>

<ng-template #intAttributeTemplate let-item="attr">
    <div class="form-group mt-2">
        <label for="{{item.name}}">{{item.title}}</label>
        <input class="form-control" 
                type="text"
                readonly
                id="{{item.name}}" 
                value="{{item.value}}"
                (change)="onChange(item.name, $event.target.value)"
                style="width: 150px;">
    </div>
</ng-template>

<ng-template #doubleAttributeTemplate let-item="attr">
    <div class="form-group mt-2">
        <label for="{{item.name}}">{{item.title}}</label>
        <input class="form-control" 
                type="text"
                readonly
                id="{{item.name}}" 
                value="{{item.value}}"
                (change)="onChange(item.name, $event.target.value)"
                style="width: 150px;">
    </div>
</ng-template>


<ng-template #readonlyAttributeTemplate let-item="attr">
    <div class="form-group mt-2">
        <label for="{{item.name}}">{{item.title}}</label>
        <input  class="form-control" 
                readonly
                id="{{item.name}}" 
                value="{{item.value}}"
                (change)="onChange(item.name, $event.target.value)">
    </div>
</ng-template>
