.breadcrumb {
  background-color: transparent;
  margin: 0;
  padding: 0;
  height: 24px;
}

.breadcrumb-button {
  padding: 0px .3rem;
}

.breadcrumb-item {
  max-width: 450px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.breadcrumb-item + .breadcrumb-item:before {
  content: "›";
  font-size: x-large;
  margin-top: -7px;
}

li.breadcrumb-item a, li.breadcrumb-button a {
  color: var(--gray);
}

li.breadcrumb-item a:link, li.breadcrumb-button a:link {
  color: var(--gray);
}
li.breadcrumb-item a:visited, li.breadcrumb-button a:visited {
  color: var(--gray);
}
li.breadcrumb-item a:hover, li.breadcrumb-button a:hover {
  color: var(--dark);
  text-decoration: none;
}

@media (max-width: 1200px) {
  .breadcrumb-item {
    max-width: 300px;
  }
}

@media (max-width: 980px) {
  .breadcrumb-item {
    max-width: 290px;
  }
}

@media (max-width: 460px) {
  .breadcrumb-item {
    max-width: 190px;
  }
} 

@media (max-width: 430px) {
  .breadcrumb-item {
    max-width: 170px;
  }
}

@media (max-width: 350px) {
  .breadcrumb-item {
    max-width: 135px;
  }
}

/*--------------------------------  search block  -----------------------------------------*/
.input-group-text {
  padding: .375rem .3rem;
}

.search-input {
  position: absolute;
  left: 11px;
  top: 1px;
  right: 34px;
}

/*-------------------------------  end search block  --------------------------------------*/