<nav class="navbar navbar-expand navbar-light bg-content justify-content-between">
  <ol class="breadcrumb navbar-nav" #olRef>
    <li class="breadcrumb-item noselect" *ngFor="let bc of breadcrumbs">
      <ng-container *ngIf="!bc.isRoot">
        <ng-container *ngTemplateOutlet="itemTemplate;context:{bcItem:bc}"></ng-container>
      </ng-container>
      <ng-container *ngIf="bc.isRoot">
        <ng-container *ngTemplateOutlet="rootItemTemplate;context:{bcItem:bc}"></ng-container>
      </ng-container>
    </li>
  </ol>

  <ul class="navbar-nav breadcrumb">
    <li class="breadcrumb-item noselect" *ngIf="nodeStyle === 1">
      <a click-stop-propagation click-prevent-default [routerLink]="" class="material-icons nav-icon" (click)="changeStyle(0)">view_list</a>
    </li>
    <li class="breadcrumb-item noselect" (click)="changeStyle(1)" *ngIf="nodeStyle === 0">
      <a click-stop-propagation click-prevent-default [routerLink]="" class="material-icons nav-icon" (click)="changeStyle(1)">view_module</a>
    </li>
  </ul>
</nav>

<ng-template #rootItemTemplate let-bc="bcItem">
  <a click-stop-propagation click-prevent-default [routerLink]="" (click)="onSelect(bc)" *ngIf="!bc.isActive" class="material-icons">home</a>
  <span *ngIf="bc.isActive" class="material-icons">home</span>
</ng-template>

<ng-template #itemTemplate let-bc="bcItem">
  <a click-stop-propagation click-prevent-default [routerLink]="" (click)="onSelect(bc)" *ngIf="!bc.isActive">{{bc.title}}</a>
  <span *ngIf="bc.isActive">{{bc.title}}</span>
</ng-template>
