<nav class="navbar navbar-expand navbar-light bg-content justify-content-between">
  <ol class="breadcrumb navbar-nav noselect" #olRef>
    <li class="breadcrumb-item" *ngIf="root">
      <a click-stop-propagation 
        id="root-button"
        click-prevent-default 
        [routerLink]="" 
        (click)="onSelect(root)" 
        *ngIf="!root.isActive"
        class="material-icons">home</a>
      <span *ngIf="root.isActive" class="material-icons">home</span>
    </li>
    <li class="breadcrumb-button btn-group" dropdown *ngIf="hiddenBreadcrumbs && hiddenBreadcrumbs.length > 0">
      <a click-stop-propagation 
        click-prevent-default 
        id="button-basic"
        [routerLink]="" 
        class="material-icons"
        dropdownToggle 
        aria-controls="dropdown-basic">more_horiz</a>
      <ul id="dropdown-basic" 
          style="max-width: 85vw;"
          *dropdownMenu 
          class="dropdown-menu shadow"
          role="menu" 
          aria-labelledby="button-basic">
        <li role="breadcrumb-item menuitem" *ngFor="let bc of hiddenBreadcrumbs" >
          <a class="dropdown-item"
             click-stop-propagation 
             click-prevent-default 
             [routerLink]="" 
             (click)="onSelect(bc)"
             style="text-overflow: ellipsis;
             white-space: nowrap;
             overflow: hidden;">{{bc.title}}</a>
        </li>
      </ul>
    </li>
    <li class="breadcrumb-item" *ngFor="let bc of breadcrumbs" [appWidthBreadcrumb]="bc" [style.visibility]="bc.visibility">
      <ng-container *ngIf="!bc.isRoot">
        <ng-container *ngTemplateOutlet="itemTemplate;context:{bcItem:bc}"></ng-container>
      </ng-container>
      <ng-container *ngIf="bc.isSearchItem">
        <ng-container *ngTemplateOutlet="searchItemTemplate;context:{bcItem:bc}"></ng-container>
      </ng-container>
    </li>
  </ol>

  <ul class="navbar-nav breadcrumb noselect" #toolsPanel>
    <li class="breadcrumb-button search-input"
        [@.disabled]="isDisabledInputAnimation"
        @searchInputSlideInToggle
        *ngIf="this.searchService.isSearchInputShown">
      <div class="input-group" >
        <div class="input-group-prepend">
          <a queryParamsHandling="preserve"
             [routerLink]="" 
             class="material-icons nav-icon input-group-text" 
             id="close-search-button" 
             (click)="toggleSearchInput(false)">chevron_right</a>
        </div>
        <input type="search" 
               id="search-input"
               class="form-control" 
               [appFocus]="isSearchInputFocused"
               placeholder="{{ 'search' | translate }}" 
               [(ngModel)]="searchInputText"
               (keyup.enter)="search()">
        <div class="input-group-append">
          <a queryParamsHandling="preserve"
             [routerLink]="" 
             class="material-icons nav-icon input-group-text" 
             id="search-button" 
             (click)="search()">search</a>
        </div>
      </div>
    </li>
    <li class="breadcrumb-button">
      <a id="open-search-button" 
         queryParamsHandling="preserve"
         [routerLink]="" 
         class="material-icons nav-icon" 
         (click)="toggleSearchInput(true)">search</a>
    </li>
    <li class="breadcrumb-item" *ngIf="nodeStyle === 1">
      <a queryParamsHandling="preserve" 
         [routerLink]="" 
         class="material-icons nav-icon" 
         (click)="changeStyle(0)">view_list</a>
    </li>
    <li class="breadcrumb-item" (click)="changeStyle(1)" *ngIf="nodeStyle === 0">
      <a queryParamsHandling="preserve"
         [routerLink]="" 
         class="material-icons nav-icon" 
         (click)="changeStyle(1)">view_module</a>
    </li>
  </ul>
</nav>

<ol class="breadcrumb navbar-nav noselect" style="visibility: hidden; overflow: hidden; position: absolute;">
  <li class="breadcrumb-item" *ngFor="let bc of allBreadcrumbNodes" [appWidthBreadcrumb]="bc">
    <ng-container *ngIf="!bc.isRoot">
      <ng-container *ngTemplateOutlet="itemTemplate;context:{bcItem:bc}"></ng-container>
    </ng-container>
    <ng-container *ngIf="bc.isSearchItem">
      <ng-container *ngTemplateOutlet="searchItemTemplate;context:{bcItem:bc}"></ng-container>
    </ng-container>
  </li>
</ol>

<ng-template #itemTemplate let-bc="bcItem">
  <svg class="" 
       width="24px" 
       height="24px" 
       viewBox="0 0 24 24" 
       focusable="false"
       style="padding-bottom: 2px; margin-right: 4px;">
       <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
  </svg>
  <a click-stop-propagation 
    click-prevent-default 
    [routerLink]="" 
    (click)="onSelect(bc)" 
    *ngIf="!bc.isActive">{{bc.title}}</a>
  <span *ngIf="bc.isActive">{{bc.title}}</span>
</ng-template>

<ng-template #searchItemTemplate let-bc="bcItem">
  <span translate="searchResults"></span>
</ng-template>