.m--17px {
  margin: -17px;
}

.breadcrumb {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.breadcrumb-item {
  max-width: 400px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.breadcrumb-item + .breadcrumb-item:before {
  content: "›";
  font-size: x-large;
  margin-top:-15px;
}

li.breadcrumb-item a {
  color: #a3a6b6;
}

  li.breadcrumb-item a:link {
    color: #a3a6b6;
  }
  li.breadcrumb-item a:visited {
    color: #a3a6b6;
  }
  li.breadcrumb-item a:hover {
    color: #343951;
    text-decoration: none;
  }

@media (max-width: 350px) {
  .breadcrumb-item {
    max-width: 120px;
  }
}

@media (max-width: 500px) {
  .breadcrumb-item {
    max-width: 150px;
  }
}

@media (max-width: 765px) {
  .breadcrumb-item {
    max-width: 250px;
  }
}

