<nav class="navbar navbar-expand navbar-light bg-content justify-content-between">
  <ol class="breadcrumb navbar-nav noselect" #olRef>
    <li class="breadcrumb-item" *ngFor="let bc of breadcrumbs">
      <ng-container *ngIf="!bc.isRoot">
        <ng-container *ngTemplateOutlet="itemTemplate;context:{bcItem:bc}"></ng-container>
      </ng-container>
      <ng-container *ngIf="bc.isRoot">
        <ng-container *ngTemplateOutlet="rootItemTemplate;context:{bcItem:bc}"></ng-container>
      </ng-container>
    </li>
  </ol>

  <ul class="navbar-nav breadcrumb noselect">
    <li class="breadcrumb-button search-input"
        @searchInputSlideInToggle
        *ngIf="isShowSearchInput">
      <div class="input-group" >
        <div class="input-group-prepend">
          <a click-stop-propagation 
             click-prevent-default 
             [routerLink]="" 
             class="material-icons nav-icon input-group-text" 
             id="close-search-button" 
             (click)="toggleSearchInput(false)">chevron_right</a>
        </div>
        <input type="search" 
               class="form-control" 
               placeholder="Search" 
               [(ngModel)]="searchInputText"
               (keyup.enter)="search()">
        <div class="input-group-append">
          <a click-stop-propagation 
             click-prevent-default 
             [routerLink]="" 
             class="material-icons nav-icon input-group-text" 
             id="search-button" 
             (click)="search()">search</a>
        </div>
      </div>
    </li>
    <li class="breadcrumb-button">
      <a id="open-search-button" 
         click-stop-propagation 
         click-prevent-default 
         [routerLink]="" 
         class="material-icons nav-icon" 
         (click)="toggleSearchInput(true)">search</a>
    </li>
    <li class="breadcrumb-item" *ngIf="nodeStyle === 1">
      <a click-stop-propagation 
         click-prevent-default 
         [routerLink]="" 
         class="material-icons nav-icon" 
         (click)="changeStyle(0)">view_list</a>
    </li>
    <li class="breadcrumb-item" (click)="changeStyle(1)" *ngIf="nodeStyle === 0">
      <a click-stop-propagation 
         click-prevent-default 
         [routerLink]="" 
         class="material-icons nav-icon" 
         (click)="changeStyle(1)">view_module</a>
    </li>
  </ul>
</nav>

<ng-template #rootItemTemplate let-bc="bcItem">
  <a click-stop-propagation 
     click-prevent-default 
     [routerLink]="" 
     (click)="onSelect(bc)" 
     *ngIf="!bc.isActive" 
     class="material-icons">home</a>
  <span *ngIf="bc.isActive" class="material-icons">home</span>
</ng-template>

<ng-template #itemTemplate let-bc="bcItem">
  <a click-stop-propagation 
     click-prevent-default 
     [routerLink]="" 
     (click)="onSelect(bc)" 
     *ngIf="!bc.isActive">{{bc.title}}</a>
  <span *ngIf="bc.isActive">{{bc.title}}</span>
</ng-template>
