<nav class="navbar fixed-top navbar-expand navbar-light bg-content justify-content-between"
     *ngIf="checked != null && checked.length > 0">
  <ul class="navbar-nav">
    

  </ul>

  <ul class="navbar-nav">
    <li click-stop-propagation click-prevent-default 
        class="nav-item nav-item-button" (click)="clearChecked()">
      <span class="navbar-text toolbar-text hidden-phone" translate="itemsSelected"></span>
      <span class="navbar-text toolbar-text">{{checked.length}}</span>
      <span class="navbar-text toolbar-text material-icons nav-icon">clear</span>
    </li>
  </ul>
</nav>

<app-error *ngIf="error" [response]="error"></app-error>

<div class="pt-6 row h-100" *ngIf="!error">

  <div class="col-12 d-sm-none" *ngIf="selectedFilter">
    <a id="filters-button"
       [routerLink]=""
       (click)="showFilters();$event.stopPropagation()">
      <span>{{ selectedFilter.name }}</span>
      <span class="material-icons">arrow_drop_down</span>
    </a>
  </div>

  <div class="d-none d-sm-block col-sm-3 col-md-3 col-xl-2">
    <app-task-filters class="fixed"
                      [selectedFilter]="selectedFilter"
                      (onSelected)="onFilterSelected($event)"
                      (onLoaded)="onFiltersLoaded($event)"
                      (onError)="onError($event)">

    </app-task-filters>
  </div>
  <div class="col-12 col-sm-9 col-md-9 col-xl-10 task-list">
    <div class="h-100 bg-white rounded shadow-sm mr-n2 ml-n2">
      <app-task-list class="p-0"
                     [filter]="selectedFilter"
                     (onSelected)="onTaskSelected($event)"
                     (onChecked)="onTaskChecked($event)"
                     (onError)="onError($event)">

      </app-task-list>
    </div>
  </div>
</div>

<pw-modal id="filtersModal">
  <div class="mob-filters-view">
    <div class="bg-white rounded-lg p-3">
      <app-task-filters class=""
                        [selectedFilter]="selectedFilter"
                        (onSelected)="onFilterSelected($event)">
      </app-task-filters>
    </div>

    <div class="bg-white rounded-lg p-3 mt-2">
      <a click-stop-propagation
         [routerLink]=""
         (click)="closeFilters()" translate="cancel"></a>
    </div>
   </div>
</pw-modal>
