.fixed {
  position: fixed;
}

a {
  color: var(--gray);
}

  a:link {
    color: var(--gray);
  }

  a:active {
    color: var(--gray);
  }

  a:visited {
    color: var(--gray);
  }

  a:hover {
    color: #343951;
    text-decoration: none;
  }

.task-list {
  min-height: calc(100vh - 6.0rem);
  /*padding: 0;*/
  /*margin-right: .75rem;*/
}

#filters-button {
  display: flex;
  margin-bottom: .45rem;
}

.mob-filters-view {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 80%;
  padding: 1rem;
}
