  <div class="text-center" *ngIf="images" style="overflow: hidden;" #viewerEl>
    <div *ngFor="let page of images; index as i;">
      <app-viewer-page [pageNumber]="i" 
                       [page]="page"                
                       [remarks]="remarks" 
                       [selectedRemark]="selectedRemark">
      </app-viewer-page>
  </div>

  <div class="text-center h-30" *ngIf="!images">
    <img src="/assets/images/doc_empty.svg" class="error-image"/>
    <h5 class="font-weight-normal mt-2">{{fileName}}</h5>
    <p class="mt-3" translate="cantPreviewDocument"></p>
    <button type="submit" class="btn btn-primary" (click)="download($event)" translate="download"></button>
  </div>

  <div class="text-center h-30" *ngIf="isLoading">
    <div class="spinner-border text-secondary" role="status">
      <span class="sr-only"></span>
    </div>
  </div>