  <div class="text-center viewer" *ngIf="pages" #viewer>
    
    <div class="text-center mr-1" *ngIf="!isActualVersionSelected">
      <div class="alert alert-warning" role="alert">
        <span translate="outdatedVersionFrom"></span> {{selectedVersionCreated}}
        <a href="#" 
          (click)="selectActualVersion()"><span translate="goToCurrentVersion"></span></a>
      </div>
    </div>

    <div *ngFor="let page of pages; index as i;" class="mr-1">
      <ng-container *ngIf="pages">
      <app-viewer-page [pageNumber]="i" 
                       [page]="page"
                       [remarks]="remarks">
      </app-viewer-page>
    </ng-container>
    </div>
  </div>

  <div class="vertical-center" *ngIf="!pages">
    <img src="/assets/images/doc_empty.svg" class="error-image"/>
    <h5 class="font-weight-normal mt-2">{{fileName}}</h5>
    <p class="mt-3" translate="cantPreviewDocument"></p>
    <button type="submit" class="btn btn-primary" (click)="download($event)" translate="download"></button>
  </div>

  <div class="vertical-center" *ngIf="isLoading">
    <div class="spinner-border text-secondary" role="status">
      <span class="sr-only"></span>
    </div>
  </div>