<div class="bg-white rounded-lg p-3 document-card-view d-flex align-items-start flex-column" *ngIf="node">
    <span class="material-icons pointer tb-btn align-self-end" 
        (click)="close()">clear</span>
    <app-document-card class="mb-auto w-100" 
                       [document]="node.source" 
                       [isReadonly]="isReadonly()">
    </app-document-card>
    <div class="align-self-end">
        <button type="submit" class="btn btn-primary" (click)="save()" translate="save" [disabled]="isReadonly()"></button>
        <button type="button" class="btn btn-outline-secondary ml-2" (click)="close()" translate="cancel"></button>
        <!-- <button class="btn btn-primary" type="button" disabled *ngIf="isProcessing">
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"> </span>
        <span class="ml-1" translate="signingIn"> </span>
        </button> -->
    </div>
</div>