.document-card-view {
  min-height: 94vh;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

@media screen and (max-width: 600px) {
  .document-card-view {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 0px!important;
    margin-top: 0px;
    overflow: auto;
  }
}