
/* MODAL STYLES
-------------------------------*/
pw-modal {
  /* modals are hidden by default */
  display: none;

  .pw-modal {
    /* modal container fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* z-index must be higher than .jw-modal-background */
    z-index: 1050;
    /* enables scrolling for tall modals */
    overflow: auto;
    .pw-modal-body {
      padding: 0px;
      // background: #fff;
      /* margin exposes part of the modal background */
      margin: 0px;
    }
  }

  .pw-modal-background {
    /* modal background fixed across whole screen */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* semi-transparent black  */
    background-color: #000000;
    opacity: 0.30;
    /* z-index must be below .jw-modal and above everything else  */
    /* must be higher than bootstrap fixed-top (1030)*/
    z-index: 1040;
  }
}

body.pw-modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}
