<nav class="navbar navbar-expand fixed-top navbar-light bg-content justify-content-between">
  <ul class="navbar-nav">
    <li *ngFor="let item of toolbarItems"
        class="nav-item nav-item-button pt-2 mr-2"
        click-stop-propagation click-prevent-default>
        <img [src]="item.icon"
             class="nav-icon nav-icon-svg"
             *ngIf="item.icon != null" alt="icon">
        <span class="hidden-phone noselect">{{item.title}}</span>
    </li>
  </ul>

  <ul class="navbar-nav">
    <!--<li class="nav-item">
      <span class="navbar-text toolbar-text">
        {{selectedTask.title}}
      </span>
    </li>-->
  </ul>

  <ul class="navbar-nav">
    <li click-stop-propagation click-prevent-default class="nav-item nav-item-button" (click)="close($event)">
      <span class="navbar-text toolbar-text material-icons nav-icon">close</span>
    </li>
  </ul>
</nav>
