img.doc-page {
    border: 1px solid var(--border);
    margin-bottom: 8px;
    /* margin-top: 8px; */
    width: 100%;
}

div.annotation-mark {
    position: relative; 
    background-color: #FFD80080; 
    height: 16px; 
    margin-bottom: -16px;
    width: 16px;
    border-radius: 8px;
    border: 2px solid var(--primary);
}

div.annotation-mark:hover {
    border-color: var(--primary-darkness);
  }