img.doc-page {
    border: 1px solid var(--border);
    margin-bottom: 8px;
    width: 100%;
}

div.annotation-mark {
    position: relative; 
    background-color: #FFD80080; 
    height: 16px; 
    margin-bottom: -16px;
    width: 16px;
    border-radius: 8px;
    border: 1px solid #E8B54F;
}

div.annotation-mark:hover {
    background-color: #fcd33f;
}

div.annotation-view {
    background-color: #FFF5BA;
    width: 250px;
    border: 1px solid #E8B54F;
}