<nav class="navbar navbar-expand fixed-top navbar-light bg-content justify-content-between">
    <ul class="navbar-nav">
      <li click-stop-propagation click-prevent-default 
          class="nav-item nav-item-button" (click)="back()">
        <span class="navbar-text toolbar-text nav-icon material-icons">keyboard_backspace</span>
      </li>
      <li class="nav-item">
        <span class="navbar-text toolbar-text" translate="signatures"></span>
      </li>
    </ul>
</nav>
  
<div class="pt-6 h-100">
    <app-digital-signatures 
        [document]="document" 
        (error)="onError($event)">
    </app-digital-signatures>
</div>