.bottom-sheet-bg-overlay {
    background: rgba(0, 0, 0, .32);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1040;
  }
  
  .bottom-sheet-container {
    background: var(--bg);
    width: 100%;
    position: fixed;
    bottom: 0;
    border-radius: 10px 10px 0px 0;
    left: 50%;
    margin-left: -35%;
    width: 75%;
    z-index: 4;
    /* color: #363636; */
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12);
    /* font-family: 'Roboto',sans-serif; */
    z-index: 1050;
  }

  .bottom-sheet-container-full {
    border-radius: 0;
  }
  
  .bg-dark{
    color:rgba(255, 255, 255, 0.90);
    background: #363636;
  }
  
  .bottom-sheet-header h4.title {
    display: inline-block;
    font-weight: 600;
    margin: 0;
    font-size: 1rem;
  }
  
  .bottom-sheet-header {
    /* padding: 16px; */
    text-align: center;
  }
  
  .bg-dark-header {
    border-bottom: 1px solid var(--border);
  }
  
  .bottom-sheet-footer {
    text-align: center;
    padding: 16px;
    border-top: 1px solid var(--border);
    background: rgba(0, 0, 0, 0.02);
    cursor: pointer;
  }
  
  .bg-dark-footer {
    border-top: 1px solid var(--border);
  }
  
  .bottom-sheet-content {
    max-height: 80vh;
    overflow-y: auto;
    padding-top: 16px;
  }

  .bottom-sheet-content-middle {
    height: 40vh;
    padding-top: 0px;
  }

  .bottom-sheet-content-full {
    height: calc(100vh - 55px);
    overflow-y: auto;
    padding-top: 0px;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #bdbdbd;
  }
  
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(92, 92, 92);
  }
  
  @media (max-width: 992px) {
    .bottom-sheet-container {
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      margin-left: 0;
      z-index: 1050;
    }
  }