.bottom-sheet-bg-overlay {
    background: rgba(0, 0, 0, .32);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1040;
  }
  
  .bottom-sheet-container {
    background: var(--bg);
    position: fixed;
    bottom: 0;
    border-radius: 10px 10px 0px 0;
    left: 50%;
    margin-left: -35%;
    width: 75%;
    /* color: #363636; */
    box-shadow: 0 8px 10px -5px rgba(0, 0, 0, .2), 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12);
    /* font-family: 'Roboto',sans-serif; */
    z-index: 1050;
    height: 100%;
    overflow-y: auto;
  }

  .bottom-sheet-container-full {
    border-radius: 0;
  }
  
  .bg-dark{
    color:rgba(255, 255, 255, 0.90);
    background: #363636;
  }
  
  .bottom-sheet-header h4.title {
    display: inline-block;
    font-weight: 500;
    margin: 12px 0 0 0;
    font-size: 1rem;
  }
  
  .bottom-sheet-header {
    text-align: center;
  }
  
  .bg-dark-header {
    border-bottom: 1px solid var(--border);
  }
  
  .bottom-sheet-footer {
    text-align: center;
    padding: 16px;
    border-top: 1px solid var(--border);
    background: rgba(0, 0, 0, 0.02);
    cursor: pointer;
  }
  
  .bg-dark-footer {
    border-top: 1px solid var(--border);
  }
  
  .bottom-sheet-content {
    padding-top: 16px;
  }

  .bottom-sheet-content-middle {
    padding-top: 0px;
    height: 40vh;
    overflow-y: auto;
  }

  @media (max-width: 992px) {
    .bottom-sheet-container {
      width: 100%;
      left: 0;
      right: 0;
      margin-left: 0;
    }
  }

  .h-middle {
    height: auto;
  }

  .h-open {
    max-height: 80vh;
    height: auto;
  }