.one-line-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 1.6rem;
}

.two-line-text {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 2.5rem;
  line-height: 1.1rem;
}

.outdated {
  color: tomato;
}

.list-group-item {
  border: none;
  padding: 0.75rem 0.45rem;
  /*margin: 1px 0*/
}

.list-group-item-primary:hover {
  background-color: #b8daff;
}

.caption {
  font-size: 110%;
  /*font-weight: 600;*/
}

.description {
  font-size: 90%;
}

li a {
  color: #a3a6b6;
}

  li a:hover {
    color: #343951;
  }

.stage {
  margin: -0.75rem -0.45rem;
  background-color: #f8f9fa;
}

.task-intent {
  width: 5px;
  margin: -.75rem .45rem -.75rem -.45rem;
}

.list-group-item-intent {
  /*color: #004085;*/
  background-color: #fcfdff
}
.list-group-item-intent:hover{
  /*color: #004085;*/
  background-color: #f9f9f9;
}

