.btn-primary-outline {
  background-color: transparent;
  border-color: transparent;
}

.nav-item {
  height: 2.4rem;
}

.nav-item-button {
  cursor: pointer;
  min-width: 2.5rem;
  text-align: center;
}

  .nav-item-button:hover {
    background: #eaeaea;
  }

  .nav-item-button.checked {
    background: #f4f4f4;
  }
    .nav-item-button.checked:hover {
      background: #eaeaea;
    }

.nav-link {
  padding: .3rem 1rem;
}

.nav-icon {
  width: 1.5rem;
}

.toolbar {
  height: 2.5rem;
  padding: 0;
  margin: 0;
}

.toolbar-text {
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: .25rem;
  margin-left: .25rem;
}
