.btn-primary-outline {
  background-color: transparent;
  border-color: transparent;
}

.nav-item {
  height: 2.4rem;
}

.nav-item-button {
  cursor: pointer;
  min-width: 2.5rem;
  text-align: center;
}

li.nav-item-button span {
  color: var(--gray);
}

  li.nav-item-button:hover span {
    color: #343951;
  }

.nav-link {
  padding: .3rem 1rem;
}

.nav-icon {
  width: 1.5rem;
}

.toolbar-text {
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: .25rem;
  margin-left: .25rem;
  color: var(--gray);
  -webkit-user-select: none;
  user-select: none;
}
