.container-xxl {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  /*color: #ffa000;*/
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 575.98px) {
  .navbar-expand-sm>.container, .navbar-expand-sm>.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar-toggler {
  border-image: none;
  border: none;
  padding: 0;
  outline: none;
}

.link-active {
  font-weight: var(--font-weight-bold);
  color: var(--black);
}
