<div class="mt-2" style="margin-left: -2px;">
    <img [src]="typeIcon" width="24" *ngIf="typeIcon != null">
    <span class="ml-2 align-middle">{{taskTypeTitle}}</span>
</div>

<!-- <div class="mt-2" *ngIf="initiator">
    <div *ngTemplateOutlet="orgUnitAttributeTemplate;context:{item:initiator}"></div>
</div>

<div class="" *ngIf="executor">
    <div *ngTemplateOutlet="orgUnitAttributeTemplate;context:{item:executor}"></div>
</div> -->

<div class="" *ngFor="let attr of attributes">
    <ng-container *ngIf="attr.type === 8">
        <ng-container *ngIf="attr.value">
            <div *ngTemplateOutlet="orgUnitAttributeTemplate;context:{item:attr}"></div>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="attr.type !== 8">
        <ng-container *ngIf="attr.value">
            <div *ngTemplateOutlet="stringAttributeTemplate;context:{attr:attr}"></div>
        </ng-container>
    </ng-container>
</div>

<!-- <div class=" mt-4" *ngIf="hasAttachments">
    <div class=" border-top pb-3">
        <app-task-attachments [taskNode]="task"></app-task-attachments>
    </div>
</div> -->

<ng-template #orgUnitAttributeTemplate let-item="item">
  <div class="f-md text-second mt-2">{{item.title}}</div>
  <div *ngFor="let orgUnit of item.items | keyvalue">
    <div class="f-lg">
      <span *ngIf="orgUnit.key" class="mr-1">{{orgUnit.key.displayName}}</span>
      <span class="text-secondary">({{orgUnit.value.title}})</span>
    </div>
  </div>
</ng-template>

<ng-template #stringAttributeTemplate let-item="attr">
  <div class="mt-2">
    <div class="text-second">{{item.title}}</div>
    <div class="">{{item.value}}</div>
  </div>
</ng-template>