<header>
  <nav class='navbar navbar-expand-sm fixed-top navbar-toggleable-sm navbar-light bg-content pl-0 pr-0' *ngIf="isLoggedIn$ | async">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]='["/"]'>Pilot-WEB</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon mb-1" *ngIf="!isExpanded"></span>
        <span class="material-icons" *ngIf="isExpanded">close</span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse h-100vh font-large" [ngClass]='{"show": isExpanded}'>
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link noselect" [routerLink]='["/documents", documentRootId]' translate="documents" (click)="toggleOff()"></a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]'>
            <a class="nav-link noselect" [routerLink]='["/tasks"]' translate="tasks" (click)="toggleOff()"></a>
          </li>
          <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="isLoggedIn$ | async">
            <a class="nav-link noselect" href="/" (click)="onLogout($event)" translate="signOut"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
